body {
	margin: 2% 5%;
	background-color: #eeeeee;
}

table {
	border: 0;
	min-width: 200px;
	border-spacing: 20px 10px;
}

th {
	text-align: left;
}

td {
	padding-top:15px;
	text-align: right;
	padding-bottom: 5px;
	border-bottom: 2px solid gray;
}

.ilb {
	float: left;
}

.ilb:last-child {
	float: justify;
}

.main:after {
    display: block;
    content: '';
    clear: both;
}

.main {
	width: 100%;
	min-height: 500px;
    text-align: justify;
	border-radius: 5px;
	background-color: white;
}

.info-0 {
	text-align: right!important;
}